body {
    margin: 0;
    padding: 0;
    background: #000;
}

.container ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.container ul li {
    position: relative;
    list-style: none;
    float: left;
    margin: 0 50px;
    height: 300px;
    width: 10px;
    background: #fff;
}

.container ul li:before {
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 30px;
    background: #333;
    border-top-left-radius: 2px;
    border-top-left-radius: 2px;
}

.container ul li:after {
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 30px;
    background: #333;
    border-top-left-radius: 2px;
    border-top-left-radius: 2px;
}

.container ul li:nth-child(1) {
    background: #ffd0d0;
    box-shadow: 0 0 80px #f00, 0 0 80px #f00, 0 0 80px #f00;
}